<h1>POST Request Received</h1>
<table id="table1">
    <caption class=" tableTitle">URL Parameter Table</caption>
    <thead>
    <tr>
        <th><b>Parameter names</b></th>
        <th><b>Parameter values</b></th>
    </tr>
    </thead>
    <tbody>
        {{#each param}}
            <tr>
                <td>{{this.name1}}</td>
                <td>{{this.value1}}</td>
            </tr>
        {{/each}}

    </tbody>
</table>

<p>
<table id="table2">
    <caption class="tableTitle">Parameters in Request Body</caption>
    <thead>
    <tr>
        <th><b>Parameter names</b></th>
        <th><b>Parameter values</b></th>
    </tr>
    </thead>
    <tbody>
    {{#each param2}}
        <tr>
            <td>{{this.name2}}</td>
            <td>{{this.value2}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

