
<h1>GET Request Received</h1>
<table id="table1">
    <caption class=" tableTitle">URL Parameter Table</caption>
    <thead>
    <tr>
        <th><b>Parameter names</b></th>
        <th><b>Parameter values</b></th>
    </tr>
    </thead>
    <tbody>
        {{#each param}}
            <tr>
                <td>{{this.name3}}</td>
                <td>{{this.value3}}</td>
            </tr>
        {{/each}}

    </tbody>
</table>


